.App {
  text-align: center;
  background-image: url('./static/bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.centre-card{
  color: white;
  background-color: rgba(253, 54, 204, 0.815);
  padding: 30px;
  border-radius: 10px;
}